{{!

If the user is NOT logged in, and 'GET /protected' endpoint is called, you will render this view that displays:
-Error page saying that the user is not logged in

}}
<h1>Unauthorized Access- user is not logged in</h1>
<a href="/">Login</a>