{{! 

This view will be shown when the 'GET /logout' endpoint is called and will:
-Inform the user that they have been logged out
-Provide a URL hyperlink to the / route

 }}
<h1>You have successfully been logged out!</h1>
<a href="/">Login</a>