

   


    <div class="wrapper">
      <div class="sidebar">
        {{! <h2>side head</h2> }}
        <ul>
          <li><a href="/instructor/instructor_protected"><i class="fas fa-home"></i>Home</a></li>
          <li><a href="/instructor/instructor_profile"><i class="fas fa-user"></i>Profile</a></li>
          {{!-- <li><a href="/instructor/instructorCourseList"><i class="fas fa-address-card"></i> My Course List</a></li> --}}
          <li><a href="/instructor/instructorFeedbackform"><i
                class="fas fa-comment"
              ></i>Feedback</a></li>
               <li><a href="/instructor/social_media"><i class="fas fa-blog"></i> Connect</a></li>
          <li><a href="/instructor/aboutpage"><i class="fas fa-address-book"></i>About</a></li>
          <li><a href="/logout"><i class="fas fa-map-pin"></i>Logout</a></li>
          

        </ul>

      </div>
     
   