
{{> instructor_page/head_nav}}
 {{> instructor_page/sidenavigation}}

 <div class="main_content">
        <div class="header">Welcome!! Have a nice day.</div>
       
       <div class="info">
{{!-- <h1>Welcome to Online Course Website Project</h1> --}}
<h1 style="border-width:3px; border-style:solid; border-color:#2791d3; padding: 1em;">Welcome to Online Course Website Project</h1>
{{!-- <h2> Online Course Website is a Learning platform. Where instructor can create a new courses and students can register for the courses, and students can take quizz exams on the course and dowload the notes.  </h2> --}}

<h2 style="border-width:3px; border-style:solid; border-color:#070202; padding: 1em;"> Online Course Website is a Learning platform. Where instructor can create a new courses and students can register for the courses, and students can take quizz exams on the course and dowload the notes. 

</h2>

</div>
      </div>

{{> instructor_page/footer}}
