{{> instructor_page/head_nav}}
 {{> instructor_page/sidenavigation}}

 <div class="main_content">
        <div class="header">Welcome!! Have a nice day.</div>
       
       <div class="info">
<h1> my enrolled courses,under development</h1>
</div>
      </div>

{{> instructor_page/footer}}