

{{> page/head_nav}}
 {{!-- {{> page/sidenavigation}} --}}
 {{#if userType}}
   {{> instructor_page/sidenavigation}}
{{else}}
 {{> page/sidenavigation}}
{{/if}}

 <div class="main_content">
        <div class="header">About Page</div>
       
       <div class="info">
<h1>Welcome to Online Course Website Project</h1>
<h2> Online Course Website is a Learning platform. Where instructor can create a new courses and students can register for the courses, and students can take quizz exams on the course and dowload the notes.  </h2>
 






</div>
      </div>

{{> page/footer}}
