

{{> page/head_nav}}
 {{!-- {{> page/sidenavigation}} --}}
 {{#if userType}}
   {{> instructor_page/sidenavigation}}
{{else}}
 {{> page/sidenavigation}}
{{/if}}


 <div class="main_content">
        <div class="header">Users search bar Page</div>
       
       <div class="info">
<h1> Users search bar Page</h1>
</div>
      </div>

{{> page/footer}}