{{> page/head_nav}}
{{#if userType}}
   {{> instructor_page/sidenavigation}}
{{else}}
 {{> page/sidenavigation}}
{{/if}}

 <div class="main_content">
        <div class="header">Social Media Profile Accounts</div>
       
       <div class="info">

<div class="social_media">
  <a href="https://www.facebook.com/" target="_blank">Connect us on Facebook <i class="fab fa-facebook-f"></i></a><br/>
  <a href="https://youtu.be/-Tl4lYGLtWw" target="_blank">Connect us on Youtube <i class="fab fa-youtube"></i></a><br/>
  <a href="https://www.instagram.com/" target="_blank">Connect us on Instagram <i class="fab fa-instagram"></i></a>
</div>

</div>
      </div>

{{> page/footer}}