

    <div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">

        {{!-- <div class="menu-bar">
         <a class="navbar-brand" href="#">  {{> page/sidenavigation}}</a>
        </div> --}}

        <div class="navbar-header">
          <a class="navbar-brand" href="#">Online Course Website</a>
        </div>

        <ul class="nav navbar-nav">

          <li class="active"><a href="/protected">Home</a></li>
       
          <li><a href="#">Quizz</a></li>
         


          <li style="pt-2">
              <form action="/protected" method="post">
                <input id= "search_course" name="search_course" type="text" title="Search" />
                <button type="submit">search</button>
              </form>
          </li>
        

          </div>
        </ul>
    </nav>

   
