<html lang="en">
  <head>

    <link rel="stylesheet" href="public/css/styles.css" />

    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  </head>
  <body>

    <div class="wrapper">
      <div class="sidebar">
        {{! <h2>side head</h2> }}
        <ul>
          <li><a href="/protected"><i class="fas fa-home"></i>Home</a></li>
          <li><a href="/profile"><i class="fas fa-user"></i>Profile</a></li>
          <li><a href="/mycourse_list"><i class="fas fa-address-card"></i> Go to courses</a></li>
          <li><a href="/feedbackform"><i
                class="fas fa-comment"
              ></i>Feedback</a></li>
              
          {{!-- s<li><a href="/ask_question"><i class="fas fa-question"></i>Ask Questions</a></li> --}}
          <li><a href="/social_media"><i class="fas fa-blog"></i> Connect</a></li>
          <li><a href="/aboutpage"><i class="fas fa-address-book"></i>About</a></li>
          <li><a href="/logout"><i class="fas fa-map-pin"></i>Logout</a></li>
       
        </ul>
    
      </div>
     
   